<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>contact us</title>
    <script src="https://kit.fontawesome.com/986c760013.js" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="css.style.css">
</head>
<body>
    <header class="navbar">
        <ul class="list">
          <div class="li-list">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about page.html">ABOUT</a></li>
            <li><a href="contact.page.html">CONTACT</a></li>
          <li><a href="html cart.html"><i class="fa-solid fa-cart-shopping" style="color: #f5b608;"></i></a></li>
        </div>
        </ul>
    </header><br>
     <div class="contact-list">
    <h1>Contact Us</h1><br>

       <p> Thank you for choosing [Your Furniture Store]! We're here to
         assist you. Please feel free to reach out to us using the contact information </p><br>
        
       <h2> Customer Service Hours:</h2><br>
      <p>  Monday - Friday: 9:00 AM - 6:00 PM (Local Time)</p><br>
     <h2> Contact Information:</h2><br>
<ol>
    <li>Customer Service Email: support@yourfurniturestore.com</li>
     <li>Sales Inquiries: sales@yourfurniturestore.com</li>
      <li>Phone Number: (Your Phone Number)</li><br>
   <h2>   Mailing Address:</h2>
</ol><br>
   <ul >
<li>[Your Furniture Store]</li>
<li>[Street Address]</li>
<li>[City, State, Zip Code]</li>
</ul><br>
<a href="#"><i class="fa-brands fa-facebook"></i></a>
<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
<a href="#"><i class="fa-brands fa-instagram"></i></a>
<a href="#"><i class="fa-brands fa-twitter"></i></a>
</div>
</body>
</html>